body {
    /* background-image: url('images/ape-valentin-jorel-Mpyn-ne644Y-unsplash.jpeg'); */
    background-image: url('./images/clockwise-spinning.gif');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

h1 {
    position: fixed;
    /* margin: 5px auto; */
    text-align: center;
    background-color: #000;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 10px;
    border-radius: 8%;
}

#calc-border {
    position: fixed;
    /* margin: 0 auto; */
    top: 12.5%;
    transform: translateY(-12.5%);
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
    width: 265px;
    background-color: #000;
    border-radius: 10%;
}

#calc-u-later {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: fit-content;
    min-width: 178px;
}

#calc-u-later button {
    border-radius: 50%;
    outline: none;
    text-emphasis: bold;
    border: none;
}

.operator {
    font-size: 15px;
}

.num {
    background-color: rgb(91, 91, 91);
    color: #fff;
    text-shadow: #000 1px 1px 2px;
}

.operator {
    background-color: rgb(235, 48, 15);
    color: #fff;
}

button {
    height: 48px;
    width: 48px;
}

#display {
    box-sizing: border-box;
    height: 48px;
    width: 152px;
    font-size: 17.5px;
    border-radius: 15%;
    text-align: right;
}

main {
    position: fixed;
    margin: 0 auto;
    width: 50%;
    min-width: 500px;
    left: 50%;
}

#div-history {
    background-color: #000;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
    text-align: center;
    width: 18%;
    /* transform: translateY(-75%); */
    border-radius: 10%;
    min-width: 178px;

}

#div-history p {
    font-size: 20px;
}

#history {
    text-align: center;
    background-color: #000;
}

li {
    text-align: left;
    list-style: square;
}