body {
    background-image: url('images/ape-valentin-jorel-Mpyn-ne644Y-unsplash.jpeg');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

button {
    height: 24px;
    width: 24px;
}

#empty-history {
    height: fit-content;
    width: fit-content;
}

main {
    margin: 0 auto;
    width: 50%;
    min-width: 500px;
}

#calc-u-later {
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    width: 25%;
    min-width: 178px;
}